body {  
  background: url(https://i.imgur.com/5r3DVAg.jpeg);
  /*background-repeat: repeat;*/
  overflow-x: hidden;
  margin: 0 0 0 0; }

#bannerimage {
  width: 100%;
  background-image: url(https://i.imgur.com/EHYBQcm.png);
  height:78px;
  background-position: center;
  resize: horizontal;

}

#bannerimage2 {
  width: 100%;
  background-image: url(https://i.imgur.com/rm2PKR7.png);
  height:78px;
  background-position: center;
  display: block;
  bottom : 0;
  position:fixed;
}


.Frame {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 20px 0 20px;
}
#images{
   text-align:center;
   
}
